In [9]:
import xarray as xr
import cftime 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import os
import time
import logging
import cartopy.crs as ccrs
import metpy  # accessor needed to parse crs
import calendar
import argparse

In [10]:
TEM = pd.read_csv(
    '/home/smmrrr/TEM_Climate_Data/LULCC/support_files/cruHurtt3.2.1potmxcohrtsr_hurttlf.glb'
     ,names = [ 'lon', 'lat', 'file', 'Area', 'num1','num2','num3', 'Area_Name'])
# ds['var_of_interest'] = ds['tas']

# ds_uas ## used for troubleshooting different lat / lon coords for access cm2
TEM_o3 = TEM[[ 'lon', 'lat','Area' ,'Area_Name']]

In [8]:

# TEM_o3 = pd.read_csv('/home/smmrrr/cleaned_climate_input/CMIP6/CanESM5_ssp245_nirr.csv'
#            ,names = ["lon", 'lat','var' ,'Area', 'year', 'sum', 'max', 'average'
#          , 'min', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'
#          , 'Nov', 'Dec', 'Area_Name'])

In [11]:
# TEM_o3 = TEM[[ 'lon', 'lat','Area' ,'Area_Name']].copy()

TEM_o3['var'] = ' AOT40 ' 
TEM_o3['year'] = 0
TEM_o3['sum'] = 0
TEM_o3['max'] = 0
TEM_o3['average'] = 0
TEM_o3['min'] = 0
TEM_o3['Jan'] = 0
TEM_o3['Feb'] = 0
TEM_o3['Mar'] = 0
TEM_o3['Apr'] = 0
TEM_o3['May'] = 0
TEM_o3['Jun'] = 0
TEM_o3['Jul'] = 0
TEM_o3['Aug'] = 0
TEM_o3['Sep'] = 0
TEM_o3['Oct'] = 0
TEM_o3['Nov']= 0 
TEM_o3['Dec'] = 0

TEM_o3 = TEM_o3[["lon", 'lat','var' ,'Area', 'year', 'sum', 'max', 'average'
         , 'min', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'
         , 'Nov', 'Dec', 'Area_Name']]



TEM_o3

/tmp/ipykernel_3321848/595620586.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TEM_o3['var'] = ' AOT40 '
/tmp/ipykernel_3321848/595620586.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TEM_o3['year'] = 0
/tmp/ipykernel_3321848/595620586.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TEM_o3['sum'] = 0

,lon,lat,var,Area,year,sum,max,average,min,Jan,...,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Area_Name
0,-180.0,65.0,AOT40,1040,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Asia
1,-180.0,65.5,AOT40,1030,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Asia
2,-180.0,66.0,AOT40,1245,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Asia
3,-180.0,66.5,AOT40,1220,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Asia
4,-180.0,67.0,AOT40,1195,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62603,179.5,67.5,AOT40,1170,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Asia
62604,179.5,68.0,AOT40,1145,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Asia
62605,179.5,68.5,AOT40,1120,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Asia
62606,179.5,70.5,AOT40,225,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Asia
62607,179.5,71.0,AOT40,993,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Asia

In [12]:
TEM_o3.to_csv('/home/smmrrr/TEM/TEM_input_files/global_runs/atm_chem_data/aot40_global_static.csv',index = False, header = False)

In [13]:
co2 = pd.DataFrame()
co2['year'] = pd.Series(range(1500, 2101))
co2['value'] = 350.0

co2.to_csv('/home/smmrrr/TEM/TEM_input_files/global_runs/atm_chem_data/co2_static.csv'
           ,index = False, header = False, sep = ' ')